body {
  font-family: "Raleway", sans-serif;
}

.candela {
  height: 50px;
  padding-bottom: 5px;
}
.navbar {
  height: 70px;
}
.opciones {
  font-size: 15px;
}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/fondo-cabecera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis proyectos */
.proyectos {
  background-color: #F1E64E;
}
.image-top {
  width: 100%;
  display: block;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imagen {
  height: 190px;
}
.tarjetas {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}
.card {
  background-color: #fff;
  margin-bottom: 10px;
  height: 100%;
}
.card-body {
  padding: 20px 15px;
}
@media(reglas-tarjetas){
  .tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .card {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .portada {
    height: 200px;
    overflow: hidden;
  }
  .card-body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .card-text {
    flex-grow: 1;

  }
}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
.bienvenida {
  font-size: 1em;
  color: black;
}
.descripcion {
  color: black;
}